*
{
    background-color: rgb(185, 177, 103);
}


.calcCont,
.numDisplay
.btnCont,
.btnCont > * ,
.btnCont > * > *,
.numDisplay
{
    display: flex;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.calcCont
{
    width: 420px;
    height: 630px;
    background-color: #11251b;
    box-sizing: content-box;
    flex-direction: column;
    justify-items: center;
    margin: 0 auto;
    border-radius: 10px;
    justify-content: space-evenly;
    margin-top: 100px;

}


.numDisplay
{
    width: 380px;
    height: 100px;
    background-color: #51754d;
    font-size: 55px;
    margin: 0 auto;
    border-radius: 10px;
    justify-content: right;
    align-items: center;
    color: #efffed;
    padding-right: 10px;
    font-family: monospace;
}


.btnCont > *
{
    flex-flow: row;
    gap: 5px;
    margin: 5px;
    background-color: #11251b;
}


.btnCont > * > *
{
    font-size: 35px;
    width: 90px;
    height: 90px;
    background-color: #9EA93F;
    align-items: center;
    justify-content: center;
    border-radius:3px;
    color: #112513;
    font-family: sans-serif;
    
}

.btnCont > * > *:hover
{
    background-color: rgb(59, 167, 255);
}

.btnCont
{
    margin: 0 auto;
    flex-direction: column;
    background-color: #11251b;
}

.btn0
{
    width: 185px;
}


.btnClear,
.btnDEL,
.btnNegative,
.btnDivide,
.btnMultiply,
.btnSubtract,
.btnAdd,
.btnEquals
{
    background-color: #7e9e27;
    color: #181F1C;
}

