.calcCont,
.numDisplay
.btnCont,
.btnCont > *
{
    display: flex;
}
.calcCont
{
    width: 500px;
    height: 700px;
    background-color: rgb(176, 219, 255);
    box-sizing: content-box;
    flex-direction: column;
    justify-items: center;
    margin: 0 auto;
    border-radius: 30px;

}

.numDisplay
{
    width: 450px;
    height: 150px;
    background-color: rgb(57, 159, 255);
    font-size: 80px;
    margin: 0 auto;
    border-radius: 20px;
    text-align: right;
    align-content: space-around;
    
    
    
}
.btnCont > * > *
{
    font-size: 70px;
    border: red solid 2px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.btnCont > * > *:hover
{
    background-color: rgb(104, 157, 255);
}

.btnCont
{
    margin: 0 auto;
    flex-direction: column;
}

.btnCont > *
{
    flex-flow: row;
}



